body {
	margin: 0;
	background-color: #292929;
	color: #E9E9E9;
	font-size: 15px;
	width: 100%;
	height: 100%;
	text-align: justify;
	font-family: Avantgarde, sans-serif;
	font-weight: 100;
	font-variant: normal;
}

h1 {
	font-size: 50px;
	padding: 40px;
	text-align: center;
	height: 40px;
	color: #E9E9E9;
	text-shadow: 0px 1px 0px #424242;
}

#im2 {
	margin-left: auto;
	margin-right: auto; 
}

img {
	min-width: 300px;
}

img.im2 {
	margin: 10px;
	padding: 8px;
	height: 40%;
	width: 40%;
	border-radius: 10px;
	border: solid 3px #323232;
}

img.wolfi {
	opacity: 0.8;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	height: 30%;
	width: 30%;
	border-radius: 10px;
	border: solid 3px #323232;

}
img.wolfi:hover {
	opacity: 1.0;
	border: solid 3px #424242;
	cursor:  pointer;
}

img.githublogo {
	opacity: 0.7;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	height: 10%;
	width: 10%;
	border-radius: 20px;
		min-width: 100px;
}

img.githublogo:hover {
	opacity: 1.0;
	cursor:  pointer;
	min-width: 100px;
}

#jeu {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	}

#jeux {
	background-color: #323232;
	text-align: center;
	height: 40px;
	font-size: 30px;
	color: #E9E9E9;
	text-shadow: 0px 1px 0px #424242;
	border-bottom: solid 1px #292929;
}

#jeux:hover {
	color: #FF5B5B;
	cursor:  pointer;
}


#jeux2 {
	width: 80%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

#information {
	background-color: #323232;
	text-align: center;
	height: 40px;
	font-size: 30px;
	color: #E9E9E9;
	text-shadow: 0px 1px 0px #424242;
	border-bottom: solid 1px #292929;
}

#information:hover {
	color: #FF9900;
	cursor:  pointer;
}

#information2 {
	width: 50%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
}

#github {
	background-color: #323232;
	text-align: center;
	height: 40px;
	font-size: 30px;
	color: #E9E9E9;
	text-shadow: 0px 1px 0px #424242;
	border-bottom: solid 1px #292929;
}

#github:hover {
	color: #3299BB;
	cursor:  pointer;
}

#github2 {
	width: 80%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

a {
	opacity: 0.8;
	color: #3299BB;
	text-shadow: 0px 1px 0px #424242;
	text-decoration: none;
}

a:hover {
	opacity: 1.0;
	color: #4299BB;
	cursor:  pointer;
}

#barrebas {
	text-align: center;
	vertical-align: center;
	font-size: 11px;
	color: #;
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    background-color: #424242;
    height: 15px;
    width: 100%;
}